@tailwind base;
@tailwind components;
@tailwind utilities;

.cards--container {
}

.root {
    min-height: 100vh;
	background-color: #ffffff;
    background-attachment: fixed;
}

.landing--lottie{
    width: 500px;
}

.primary{
    background: #ff5b64;
}